.custom-bg {
  background-color: #fceae8;
}

.categories img {
  width: 100px;
}

.custom-border {
  border-radius: 10px;
}

.img-slider-container {
  margin-top: 100px;
}

.btn-buy-now {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}

.subscribe-button {
  background-image: linear-gradient(to bottom, #f882b1 0%, #fa79ab 100%);
  color: white;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
}

.cat1 {
  background-image: linear-gradient(152.07deg, #ff9c35 1.47%, #ffd019 97.17%);
}

.cat2 {
  background-image: linear-gradient(180deg, #ff589b -0.01%, #ff136f 99.99%);
}

.cat3 {
  background-image: linear-gradient(170.41deg, #4289ff -10.89%, #3f07f8 92.77%);
}
